body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    box-sizing :border-box;
    background: transparent;
    border: #c7c9c8;
}

nav ul{

    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
   
}

nav .logo{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    float: left;
}



nav ul li a {

    line-height: 80px;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: cursive;
    

}

nav ul li a.current{
    background: #c7c9c8 ;
    border-radius: 6px;
}

nav ul li a:hover{

    background: #c7c9c8;
    border-radius: 6px;
}

.top-content{
    position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 20px ;
        margin: 100px;
        font-family: cursive;
}

