body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    box-sizing :border-box;
    background: transparent;
    border: #c7c9c8;
}

nav ul{

    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
   
}

nav .logo{
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
    float: left;
    color: #d97d27;
}



nav ul li a {

    line-height: 80px;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: cursive;
    

}

nav ul li a.current{
    background: #d97d27 ;
    border-radius: 6px;
}

nav ul li a:hover{

    background: #d97d27;
    border-radius: 6px;
}

.top-content{
    position: relative;
        float: right;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        text-align: center;
        padding: 0 20px ;
        margin: 100px;
        font-family: cursive;
        margin-top: 15rem;
        
        
}

#top{
    position: relative;
    background-image: url('/image/background.jpg');
    background-size: cover;
    background-position: center;   
    height: 100vh;
    width: 100%;
}

.top-content p {
    font-size: 30px;
}

.color{
    color: #d97d27;
    font-size: 50px;
  
   
}

.button{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    border: #d97d27 5px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
   
}

.button:hover{
    background-color: #d97d27;
}


.about div{
   
    padding: 10px;

}

 .about {

display: flex;

 }
 .about :hover{
     background-color: #636261;
 }


 .my-img{
     flex: 1
 }

 .about-content{
     flex: 2;
 }

 .my-img img{
    border-radius: 50%;
    width: 70%
 }
 

 .about-content h2{

    color: #d97d27;
    font-family: cursive;
    font-size: 40px;
    
 }

.about-content p{

font-size: x-large;
}


.skills{

    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}


.skills .html img{
    width: 100%;
}

.skills h2{
    color: #d97d27;
    font-weight: bold;
    font-family: cursive;
    font-size: 40px;
}


.projects{

    margin-top: 5.5rem;
}


.projects h2{

    color: #d97d27;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.netflix img{

    width:50%;
}


.church img{
    width: 50%;
}

.project-box{
    padding: 10px;
   
}

.project-box{
    display: flex;
}

